<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SampleBars.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SampleBars.Properties.Settings>
            <setting name="Abfahrtsort" serializeAs="String">
                <value>4153 Reinach</value>
            </setting>
            <setting name="Zielort" serializeAs="String">
                <value>4310 Rheinfelden</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>AIzaSyDT0dI1bjDapLg1PQ81V4dTNKqhbjngTE8</value>
            </setting>
            <setting name="TrafficMode" serializeAs="String">
                <value>Pessimistisch</value>
            </setting>
        </SampleBars.Properties.Settings>
    </userSettings>
</configuration>